article.content ul{
padding:0 3rem;
}
article.content ul li{
line-height:160%;
font-size:140%;
}
article.content ul li:before{
content:"-";
margin-right:0.5rem;
}


@media screen and (max-width:599px) {
article.content ul{
padding:0;
}
}