header,div.cookie{
position:static!important;
}
header.scroll{
box-shadow:none!important;
}
header+div,
header+h2{
margin-top:0!important;
}
p.copyright{
margin-bottom:20px!important;
}
a#pagetop{
display:none!important;
}
.fade{
opacity:1!important;
}