article.content h3{
margin:0;
font-size:180%;
}
article.content h3:after{
content:"";
display:block;
width:980px;
height:3px;
background:-moz-linear-gradient(left,#c01443,#fff);
background:-webkit-linear-gradient(left,#c01443,#fff);
background:-ms-linear-gradient(left,#c01443,#fff);
background:linear-gradient(left,#c01443,#fff);
margin-bottom:3rem;
}
article.content section dl{
margin-left:2rem;
}
article.content section dt a[itemprop="url"]{
line-height:150%;
font-size:130%;
}
article.content img{
width:450px;
margin: 0 10px 10px 0;
height;auto;
border:1px solid #eee;
float:left;
}
@media screen and (max-width: 599px){
	article.content img {
    float: none;
    margin-bottom: 3rem;
    width: 100%;
	}
}

article.content section a{
text-decoration:underline;
}
article.content dd[itemprop="dateline"]{
font-size:130%;
border-bottom:1px solid #ccc;
padding:0 0 10px 0;
margin-bottom:10px;
}
article.content dd[itemprop="articleSection"]{
padding:1rem 1rem 0 1rem;
line-height:150%;
color:#777;
}
article.content figure{
margin:0;
}
article.content figure img{
margin:30px;
}

@media screen and (max-width:599px) {
article.content h3:after{
width:100%;
}
article.content section dl{
margin-left:0;
}
article.content dd[itemprop="articleSection"]{
padding:1rem 0 0 0;
}
article.content figure{
display:block;
text-align:center;
}
article.content figure img{
float:none!important;
margin:30px 0;
}
article.content section{
margin-bottom:2rem;
}
}